[Desktop Entry]
Name=Clocks
Comment=A clocks application for the COSMIC desktop
Type=Application
Icon=dev.sramek.clocks
Exec=clocks %F
Terminal=false
StartupNotify=true
Categories=Utility;Clock;
Keywords=COSMIC;clock;timer;alarm;stopwatch;pomodoro;
